body{
    padding: 10px;
    background-color:#F2F5F7;
    margin: 10px;
}


#search{
    width: 95%;
    border:none;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    justify-content: center;
}
.searchicon{
    position: absolute;
    width: 2rem;
    height:2rem;
    right:60px;
    top:30px
}
.container{
    display: flex;
    padding: 10px;
    margin: 10px;
    height: 60px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 3;

}
#sec2{
    display: flex;
    justify-content:space-around;
    padding: 10px;
    align-items: center;
    text-align: start;
    flex-grow: 3;
    left:0;
    margin: 0;
}
.time{
    display: flex;
    flex-direction: column;
    align-items: end;
    right:0;
    flex-grow: 1;
    border: none;
}


#chatdp{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
#star{
    width: 20px;
    height: 20px;
}
